.task {
  width: 100%;
  padding: 1.6rem;
  border-radius: 8px;
  border: 1px solid var(--gray-400);
  background-color: var(--gray-500);

  display: flex;
  align-items: top;
  gap: 1.2rem;
}

.task + .task {
  margin-top: 1.2rem;
}

.checkmark {
  appearance: none;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  border: 2px solid var(--blue);
  padding: 0;
  margin: 0;
  margin-top: 1px;
  transition: background-color 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}

.checkmark:focus,
.checkmark:hover {
  box-shadow: none;
  border: 2px solid var(--blue-dark);
}

.checkmark:focus::before,
.checkmark:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--blue-dark);
  opacity: 0.2;
}

.checkmark:checked {
  border: 2px solid var(--purple-dark);
}

.checkmark:checked::before,
.checkmark:checked:focus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./assets/checkmark.svg") no-repeat 0.1rem 0.2rem;
  background-color: var(--purple-dark);
  border: 2px solid var(--purple-dark);
  opacity: unset;
}

.checkmark:checked:hover {
  border: 2px solid var(--purple);
}

.checkmark:checked:hover::before {
  background-color: var(--purple);
  border: 2px solid var(--purple);
  opacity: unset;
}

.task .text {
  flex: 1;
  font-size: 1.4rem;
}

.completed {
  border: none;
}

.completed .text {
  text-decoration: line-through;
  color: var(--gray-300);
}

.delete {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 8px;
  background: url("../assets/trash.svg");
  padding: 0;
  margin: 0;
  margin-top: -3px;
  border: 0;
  transition: background 0.2s ease-in-out;
}

.delete:hover,
.delete:focus {
  background: url("../assets/trasher.svg");
}
