.wrapper {
  max-width: 73.6rem;
  margin: 0 auto;
}

.header {
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-700);
}

.header img {
  height: 4.8rem;
  margin-bottom: 2.7rem;
}
